/*----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font : 13px Helvetica, Arial ;
    transition: all 0.5s;
}

section#chat form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
section#chat form input{
    border: 0;
    padding: 5px 10px;
    width: 90%;
    height: 100%;
    margin-right: .5%;
    font-size: 20px;
}
section#chat form button{
    border: none;
    width: 9%;
    height: 100%;
    background: #e67e22;
    float: right;
    margin-right: 0.5%;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
section#chat #message{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
section#chat #message li{
    padding: 5px 10px;

}
section#chat #message li:nth-child(odd){
    background: #eee;
}